[user]
	name = Teijo Laine
[alias]
	b = branch
	co = checkout
	cop = checkout -p
	rep = reset -p
	l = log --graph --abbrev-commit --date=relative --pretty=format:\"%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset\"
	ll = log --graph --abbrev-commit --pretty=format:\"%C(yellow)%h%Creset %C(bold blue)<%an>%C(red)%d%Creset %Cgreen(%ar) %Creset%n%s%n%n%b\"
	r = !git l -20
	st = status
	s = show
	f = fetch
	fp = fetch -p
	pr = pull --rebase
	poh = push origin HEAD
	rb = rebase
	rbi = rebase -i
	d = diff
	dc = diff --cached
	dw = diff --word-diff
	sw = show --word-diff
	ci = commit -v
	cia = commit -v --amend
	cim = commit -m
	ciam = commit -a -m
	ciaa = commit -a -v --amend
	a = add
	ap = add -p
	lp = log -p --decorate
	sprp = !git stash && git pull --rebase && git stash pop
[core]
	excludesfile = ~/.gitignore_global
	filemode = false
	autocrlf = input
	eol = lf
	whitespace = trailing-space,space-before-tab
	ignorecase = false
[color]
	ui = auto
[rerere]
	enabled = 1
	autoupdate = true
[apply]
	whitespace = warn
[mergetool "kdiff3"]
	keepBackup = false
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[merge]
	tool = kdiff3
